<ion-content>

  <div class="header_div" [class.ios_header]="plt == 'ios'">
    <ion-label class="title_lbl">Sign-In </ion-label>
    <ion-button (click)="goBack()" fill="clear" class="back">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="main_content_div" [class.ios_main]="plt == 'ios'">

      <ion-grid style='height: 100%'>
        <ion-row class="ion-align-items-center ion-justify-content-center" style='height: 80%'>
         
            <div align="center">
              <ion-button color="success" size="small" class="pt-xs--4" ion-button (click)="goSignin()">
                Sign-In
              </ion-button>                                                                 
              <ion-button color="primary" size="small" class="pt-xs--4" ion-button (click)="goBack()">
                Cancel
              </ion-button>
            </div>
            <br>

        </ion-row>
      </ion-grid>

  </div>
</ion-content>