<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{global.name}} - Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" class='loginPage' scroll='true'>
  <ion-grid style='height: 100%'>
    <ion-row class="ion-align-items-center ion-justify-content-center" style='height: 80%'>
      <ion-grid class='login-container'>
        <form #loginForm='ngForm' (ngSubmit)='goLogin()' autocomplete='off' class='login-form'>
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-list inset>
                    <ion-item>
                      <ion-label color="primary" position="floating">Username</ion-label>
                      <ion-input name='username' id='username' type='username' required [(ngModel)]='username'
                        style="background-Color: '#red';">
                      </ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label color="primary" position="floating">Email</ion-label>
                      <ion-input name='email' id='email' type='email' required [(ngModel)]='email'
                        style="background-Color: '#red';">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label color="primary" position="floating">Phone Number</ion-label>
                      <ion-input name='phone' id='phone' type='phone' required [(ngModel)]='phone'
                        style="background-Color: '#red';">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label color="primary" position="floating">Password</ion-label>
                      <ion-input name='password' id='passwordField' type='password' required [(ngModel)]='password'
                        style="background-Color: '#red';">
                      </ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label color="primary" position="floating">Confirm Password</ion-label>
                      <ion-input password name='Confirmpassword' id='passwordField' type='password' required
                        [(ngModel)]='confirmpassword' style="background-Color: '#red';">
                      </ion-input>
                    </ion-item>
                    <br>
                    <div align="center">
                      <ion-button color="success" size="small" class="pt-xs--4" ion-button (click)="goSignup()"
                        [disabled]='!loginForm.form.valid'>
                        <ion-icon name="checkmark-circle" size="small"></ion-icon>
                        Submit
                      </ion-button>
                    </div>

                  </ion-list>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>

        </form>
      </ion-grid>
    </ion-row>
  </ion-grid>
</ion-content>